//  기본 색상 --------------------------------------------------------- /
$white: #ffffff;
$black: #0b0c0d;
$yellow: #ffb763;
$pink: #f82f62;

$darkgray1: rgba($white, 0.92); // text-white
$darkgray2: rgba($white, 0.65); // text-gray
$darkgray3: rgba($white, 0.5); // tab-bg-gray
$lightblack: rgba($black, 0.9); // bg-black
$primary: $pink;