@use './../base' as *;
@use './../utils' as *;
@use './../layout' as *;
@use 'sass:math';

.evalBanner {
    position: relative;
    text-align: center;
    width: 100%;
    padding: rem(20px);
    background-image: $lightblack;
    background-image: linear-gradient(to top, rgba(18, 18, 18, 0), rgba(18, 18, 18, 1) 20%);

    &.is-active{
        position: fixed;
        left: 0;
        right: 0;
        z-index: 10;

        @include desktop{
            top:rem(72px);
        }

        @include mobile{
            top: rem(64px);
        }

    }

    &--selected {
        display: block;
        font-size: rem(22px);
        letter-spacing: -0.5px;
        font-weight: 400;
    }

    &--desc {
        display: block;
        font-size: 14px;
        letter-spacing: -0.5px;
        color: $darkgray2;
        margin-top: rem(8px);
    }

    &__progressbar {
        margin: 0 auto;
        width: 40%;
        height: rem(8px);
        background-color: transparent;
        margin-top: rem(11px);
        border: 1px solid $white;
        border-radius: rem(4px);

        &--value {
            width: 11%;
            height: rem(8px);
            border-radius: rem(4px) 0 0 rem(4px);
            background-color: $white;
        }
    }

    &__link {
        display: inline-block;
        background-color: $white;
        color: $lightblack;
        font-weight: 500;
        font-size: rem(13px);
        height: rem(30px);
        padding: rem(8px) rem(18px);
        border-radius: rem(18px);

        &--emphasize {
            font-weight: 600;
        }

        @include mobile {
            margin-top: rem(23px);
        }
        
        @include desktop {
            position: absolute;
            right: rem(20px);
            top: 50%;
            transform: translateY(-50%);
        }
    }
}

.evalPosters {
    &__container {
        padding: rem(150px) 2% 2% 2%;
        background-color: $lightblack;

        @include desktop{
            margin-top: rem(-72px);
        }

        @include mobile{
            margin-top: rem(-64px);
        }

        &.is-active{
            @include desktop{
                padding-top:rem(222px);
            }
        }
    }
    
    &--list {
        display: flex;
        flex-wrap: wrap;
        
        justify-content: space-between;
    }

    &--item {
        position: relative;
        display: inline-block;
        margin: 1.5%;

        &:hover, &:focus {
            outline: $darkgray3 2px solid;
        }

        &:hover > :last-child{
            visibility: visible;
        }

        &:focus-visible > :last-child{
            visibility: visible;
        }

        @include mobile {
            width: 47%;
        }

        @media (min-width: 600px) and (max-width: 839px) {
            width: math.div(91, 3) * 1%;
        }

        @media (min-width: 840px) and (max-width: 1349px) {
            width: 22%;
        }

        @media (min-width: 1350px) {
            min-width: math.div(84, 5) * 1%;
        }
        
    }

    &__imgWrapper img {
        width: 100%;
    }

    &__infoWrapper {
        visibility: hidden;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: rem(160px);
        text-align: center;
        background-color: $lightblack;
        // display: flex;
        // flex-direction: column;
        // justify-content: stretch;
        // align-items: center;

        &--heading {
            font-size: 15px;
            font-weight: 400;
            letter-spacing: -0.3px;
            line-height: 20px;
            margin-top: 15px;
            margin-bottom: 4px;
        }

        &--released {
            color: $darkgray3;
            display: block;
            font-size: 12px;
            letter-spacing: -0.2px;
            line-height: 100%;
            text-align: center;
            margin-bottom: 11px;
        }

        &--stars {
            position: relative;
            display: inline-block;
            cursor: pointer;

            @include mobile {
                font-size: rem(35px);
            }
    
            @media (min-width: 600px) and (max-width: 839px) {
                font-size: 5vw;
            }
    
            @media (min-width: 840px) and (max-width: 1349px) {
                font-size: 4vw;
            }
    
            @media (min-width: 1350px) {
                font-size: 3vw;
            }

            & > span {
                color: rgba(255, 255, 255, 0.2);
            }

            & > span:last-child {
                display: block;
                position: absolute;
                top: 0;
                color: $yellow;
                overflow: hidden;
                width: 0%;
            }
        }

        &--button {
            background-color: transparent;
            border: 0;
            position: relative;
            width: 100%;
            margin-top: 15px;
            padding: rem(12px) 0;
            color: rgba(255, 255, 255, 0.7);
            font-size: rem(14px);
            font-weight: 400;

            &::before {
                content: "";
                position: absolute;
                top: 0px;
                right: 10%;
                left: 10%;
                background: rgba(255, 255, 255, 0.2);
                width: 80%;
                height: 1px;
            }
        }

    }
}
