@use './../base'as *;
@use './../utils'as *;
@use './../layout'as *;

/* 백그라운드 이미지*/
.viewContainer {
    @include desktop {
        background-image: url(../images/home/title_background.jpg);
        background-position: right top;
        background-repeat: no-repeat;
        background-size: 46%;
        position: relative;
    }
}

/* 탭 리스트 */
.viewTab {
    position: relative;
    @include mobile {
        padding: 0 rem(20px) rem(60px);
    }

    @include desktop {
        padding: 0 rem(50px) rem(120px);

        &.is-active {
            background: rgba(0, 0, 0, 0.65);
        }
    }

    &__list {

        @include mobile {
            display: none;
        }

        @include desktop {
            position: absolute;
            width: 100%;
            bottom: 0;
            left: 0;
            transform: translateY(-200%);
            display: flex;
            justify-content: center;
            list-style: none;
            font-size: rem(20px);
        }

    }

    &__tabPanel {
        @include desktop {
            min-height: 29.1667vw;
        }

        &--item {
            @include desktop {
                display: none;
            }

            &.is-active {
                @include desktop {
                    display: block;
                }
            }
        }
    }

    &-btnMove {
        background: none;
        border: none;
        margin: rem(5px);

        &.is-active {
            font-weight: 700;
            text-shadow: 0 0 6px $primary;
        }
    }
}

/*기본 정보 탭*/
.viewRating {

    @include mobile {
        padding-top: rem(40px);
        background-image: url(../images/home/title_background.jpg);
        opacity: 0.8;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    &__title {
        font-size: rem(34px);
        font-weight: 700;
        line-height: 2;
        @include desktop {
            margin-bottom: rem(20px);
        }
    }

    &__generalInfo {
        display: flex;
        @include mobile{
            flex-wrap: wrap;
        }
    }

    &__expect,
    &__avg {
        font-weight: 500;
        //font-size: rem(12px);
        line-height: 1.4;
        //width: rem(75px);
        display: flex;
        margin: 0 rem(3px);

        @include mobile {
            font-size: rem(14px);
            margin-bottom: rem(6px);
        }

        & span {
            padding: 0 rem(10px);
        }

        @include mobile {
            border-radius: 5px;
            border: 1px solid #ccc;
            color: #ccc;

            &.is-primary {
                color: $primary;
                border: 1px solid $primary;
            }
        }

        @include desktop {
            border: 1px solid $white;
            color: $white;

            &--ratio {
                background-color: $white;
                color: $black;
            }
        }
    }

    &--pg {
        margin-left: rem(3px);
        font-weight: 700;
        color: #ccc;
        line-height: 1.5;
        @include mobile {
            font-size: rem(14px);
        }
    }
}

//재생 버튼, 별점 등록
.otherFunc {
    line-height: 1.8;
    font-size: rem(16px);

    @include mobile {
        margin: rem(14px) 0;
    }

    @include desktop {
        margin: rem(20px) 0;
        display: flex;
        align-items: center;
    }

    &__play {
        background-color: $primary;
        color: white;
        border: 1px solid $primary;
        border-radius: 4px;
        font-weight: 700;

        @include mobile {
            width: 100%;
            padding: rem(8px) 0;
        }

        @include desktop {
            width: 20%;
            padding: rem(8px) 0;
        }
    }

    &__custom {
        display: flex;
        margin-top: rem(10px);

        @include mobile {
            justify-content: center;
        }
    }

    &__wantList {
        color: white;
        background: none;
        border: none;
        display: inline-block;
        font-weight: 700;
        padding-right: rem(14px);
    }

    &__survey {
        font-weight: 700;

        &--starWrap {
            position: relative;
            display: inline-block;
        }

        &--star {
            font-weight: 400;

            &.is-full {
                position: absolute;
                top: 0;
                left: 0;
                overflow: hidden;
                width: 0%;
            }

            &.is-full2 {
                position: absolute;
                top: 0;
                left: 0;
                overflow: hidden;
                width: 90%;
            }
        }
    }
}

//영화내용
.summary {
    color: $darkgray2;
    line-height: 1.5;

    &__trending {
        display: block;
        font-weight: 700;
        margin-bottom: rem(20px);

        @include mobile {
            font-size: rem(18px);
        }
        @include desktop {
            font-size: rem(20px);
        }
    }

    &__desc {
        word-break: keep-all;
        line-height: 1.5;

        @include mobile {
            font-size: rem(16px);
        }

        @include desktop {
            max-width: 50%;
            font-size: rem(18px);
        }
    }
}

//출연진 정보
.contentInfo {
    margin-top: rem(20px);
    line-height: 1.7;
    color: $darkgray1;

    &__general {
        font-weight: 700;
    }

    &__abstract,
    &__cast,
    &__director {
        display: flex;

        dd {
            margin-left: rem(10px);

            a {
                color: $darkgray1;
            }
        }
    }
}

/* 상세정보 탭 */
.content-detail {
    @include desktop {
        // display: flex;
        margin-top: rem(20px);

        &.is-active {
            display: flex;
        }

        &__left {
            width: 50%;
        }
    }
}

.briefInfo {
    color: $darkgray2;
    font-size: rem(18px);

    @include desktop {
        min-width: 200px;
    }

    &__general {
        font-weight: 700;
        margin-bottom: rem(10px);
    }

    &__cast,
    &__director {
        display: flex;
        flex-direction: column;
        line-height: 1.5;
        margin-bottom: rem(10px);
    }

    @include mobile {
        display: none;
    }
}

//평균 별점
.avg-star {
    @include mobile {
        display: none;
    }

    @include desktop {
        display: flex;
        font-size: rem(18px);
    }

    p {
        padding-left: rem(8px);
        margin: 0;
    }
}

.is-strong {
    color: $white;
}

//평론
.comment {
    margin-top: rem(30px);
    line-height: 1.5;

    @include desktop {
        display: flex;

        &__firstGroup {
            margin-right: rem(30px);
            flex: 1 1 0;
        }

        &__secondGroup {
            flex: 1 1 0;
        }
    }

    &__userIdea {
        @include desktop {
            overflow: hidden;
            position: absolute !important;
            clip: rect(0, 0, 0, 0);
            clip-path: inset(50%);
            width: 1px;
            height: 1px;
            margin: -1px;
        }

        @include mobile{
            font-size: rem(18px);
            font-weight: 500;
        }
    }

    &__id {
        margin-bottom: rem(6px);

        @include mobile{
            font-size: rem(16px);
            margin-top: rem(15px);
        }

        @include desktop{
            font-size: rem(18px);
        }
    }

    &__opinion {
        color: $darkgray2;

        @include mobile {
            @include ellipsisMulti(3);
        }

        @include desktop {
            display: flex;
            @include ellipsisMulti(4);
        }
    }

    &__like {
        font-size: rem(14px);
        border: none;
        background: none;
        padding: 0;

        @include mobile {
            display: none;
        }

        & + .comment__id {
            @include desktop{
                margin-top: rem(15px);
            }
        }
    }

    &__like::before {
        content: '👍';
    }
}

/*비슷한 작품 탭*/

.movieList__wrap {
    display: flex;
    justify-content: space-between;
    margin-top: rem(20px);

    @include mobile {
        flex-wrap: wrap;
        .movieList__item:nth-child(n+3) {
            display: none;
        }
    }

    @include desktop {
        flex-wrap: nowrap;
        overflow: hidden;
        // width: rem(200px);
    }
}

.similarContent__recommendation {
    font-size: rem(18px);
    font-weight: 500;
    margin-top: rem(30px);

    @include desktop {
        overflow: hidden;
        position: absolute !important;
        clip: rect(0, 0, 0, 0);
        clip-path: inset(50%);
        width: 1px;
        height: 1px;
        margin: -1px;
    }
}

.movieList__item {
    font-weight: 600;
    line-height: 1.25;

    @include desktop {
        width: 23%;
    }
    @include mobile{
        width: 100%;
        & + .movieList__item{
            margin-top: rem(40px);
        }
    }

    a{
        display: block;
    }

    &--wrap {
        font-weight: 400;

        source, img {
            @include mobile{
                width: 100%;
            }

            @include desktop {
                max-width: 100%;
            }
        }

        &--movieInfo {
            font-size: rem(14px);
        }
    }

    &--thumbnail {
        margin-bottom: rem(18px);
    }

    &--title {
        font-weight: 700;
        line-height: 1;

        @include desktop{
            font-size: rem(22px);
        }
    }

    &--movieInfo {
        @include mobile {
            display: none;
        }
    }

    &--moveiAbstract {
        @include desktop {
            @include ellipsisMulti(4);
        }
    }
}