@use './../base' as *;
@use './../utils' as *;

.footer {
    background: $black;
    font-size: 13px;

    @include mobile {
        padding: rem(20px) rem(20px) rem(30px);
    }

    @include desktop {
        position: relative;
        padding: rem(27px) rem(30px) rem(40px);
    }

    // 약관 및 정보
    &__service {
        display: flex;
        align-items: center;

        @include mobile {
            flex-wrap: wrap;
            margin-bottom: rem(18px);
        }

        @include desktop {
            margin-bottom: rem(30px);
        }

        &--item {
            position: relative;
            margin-right: rem(6px);
            padding-right: rem(6px);

            &:last-child:after {
                display: none;
            }

            &:after {
                content: '';
                position: absolute;
                top: 50%;
                right: 0;
                transform: translateY(-50%);
                width: 1px;
                height: 10px;
                margin-top: 1px;
                background: #ddd;
            }

            a {
                padding: rem(5px) 0;
            }

            button {
                padding: rem(5px) 0;
                border: 0;
                background: none;
            }

            strong {
                font-weight: 500;
            }
        }
    }

    // 주소
    &__address {

        &__content {
            @include mobile {
                margin-bottom: rem(30px);
                word-break: break-word;
            }
            @include desktop {
                margin-bottom: rem(52px);
            }

            &--item {
                display: flex;
                line-height: 1.5;

                dt {
                    position: relative;
                    width: rem(160px);
                    margin-right: rem(6px);
                    flex-shrink: 0;

                    &:after {
                        content: '';
                        position: absolute;
                        right: 0;
                        width: 1px;
                        height: 10px;
                        background: #ddd;

                        @include mobile {
                            top: 0;
                            margin-top: rem(3px);
                        }
                        @include desktop {
                            top: 50%;
                            transform: translateY(-50%);
                        }
                    }
                }

                dd {
                    margin-left: 0;
                }
            }
        }


        &--info {
            color: #999;
            max-width: rem(540px);
            line-height: 1.5;

            span {
                position: relative;
                display: inline-block;
                padding-right: rem(8px);
                margin-right: rem(4px);

                &:nth-child(3):after,
                &:nth-child(5):after {
                    display: none;
                }

                &:after {
                    content: '';
                    position: absolute;
                    top: 50%;
                    right: 0;
                    transform: translateY(-50%);
                    width: 1px;
                    height: 10px;
                    background: #999;
                }
            }
        }
    }

    // SNS
    &__sns {
        display: flex;
        @include mobile{
            margin: rem(20px) 0;
        }
        @include desktop {
            position: absolute;
            right: rem(30px);
            bottom: rem(40px);
        }

        &--item {
            display: block;
            width: rem(36px);
            height: rem(36px);
            border: 1px solid $white;
            border-radius: 50%;
            text-indent: -9999px;
            background-image: url("../images/common/icon-sns.png");

            @include mobile {
                margin-right: rem(10px);
            }

            @include desktop {
                margin: 0 rem(10px);
            }


            &.twitter {
                background-position: rem(-36px) 50%;
            }

            &.instagram {
                background-position: rem(-72px) 50%;
            }

            &.blog {
                background-position: 100% 50%;
            }
        }
    }

    // copyright
    &__rights {
        display: flex;
        align-items: center;
        color: #999;

        &--logo {
            display: block;
            width: rem(58px);
            margin-right: rem(6px);
        }

        &--copyright {
            color: inherit;
        }
    }
}

// controller
.controller {
    position: fixed;
    bottom: rem(90px);
    right: rem(30px);
    display: flex;
    align-items: center;
    z-index: 10;

    &__random {
        width: rem(150px);
        margin-right: rem(10px);
        transition: all .2s;

        &:hover {
            opacity: 0.8;
        }
    }

    &__topButton {
        width: 36px;
        height: 36px;
        border: 1px solid $white;
        border-radius: 50%;
        background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23FFFFFF' d='M5.65 16.076l-1.3-1.518L12 8l7.65 6.558-1.3 1.518L12 10.634z'%3E%3C/path%3E%3C/svg%3E") no-repeat;
        text-indent: -9999px;
        transition: all .2s;

        &:hover {
            opacity: 0.6;
        }
    }
}