@use './../base' as *;
@use './../utils' as *;

// Skip Navigation
.skipNavigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: $primary;
    color: $white;
    z-index: 10;

    a {
        position: absolute;
        display: inline-block;
        width: 1px;
        height: 1px;
        overflow: hidden;
        clip: rect(0 0 0 0);
        clip-path: inset(50%);

        &:focus {
            position: static;
            width: auto;
            height: auto;
            padding: rem(16px);
            margin: rem(5px);
            clip: initial;
            clip-path: initial;
        }
    }
}

// Top Banner
.topBanner {
    display: none;
    position: relative;
    padding: rem(16px) 0;
    background-color: #333;
    text-align: center;
    word-break: keep-all;

    &.is-active {
        display: block;
    }

    @include mobile {
        padding-left: rem(44px);
        padding-right: rem(44px);
    }

    @include desktop {
        padding-left: rem(58px);
        padding-right: rem(58px);
    }

    &__desc {
        line-height: 1.5;
        @include mobile {
            font-size: rem(14px);
        }
    }

    &__btnGroup {
        margin-top: rem(10px);
        font-size: 0;
        line-height: 0;

        &--button {
            padding: rem(8px) rem(16px);
            margin: 0 rem(4px);
            line-height: 1.15;
            color: $black;
            background: $white;
            border: 0;
            border-radius: 4px;

            @include mobile {
                font-size: rem(14px);
            }

            @include desktop {
                font-size: rem(16px);
            }
        }

        .btn-primary {
            background-color: $primary !important;
            color: $white !important;
        }
    }

    &--closeButton {
        position: absolute;
        border: 0;
        background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'%3E%3Cg fill='none' fill-rule='evenodd' opacity='.8'%3E%3Cpath d='M0 0h32v32H0z' opacity='.4'%3E%3C/path%3E%3Cpath fill='%23EBEBEB' d='M8.575 5.954l16.97 16.97-2.12 2.122-16.97-16.97z'%3E%3C/path%3E%3Cpath fill='%23EBEBEB' d='M6.454 22.925l16.97-16.97 2.122 2.12-16.97 16.97z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E") no-repeat center center;

        @include mobile {
            top: rem(16px);
            right: rem(6px);
            width: rem(32px);
            height: rem(32px);
        }

        @include desktop {
            top: rem(6px);
            right: rem(16px);
            width: rem(48px);
            height: rem(48px);
        }
    }
}

// when header fixed
body.is-active{
    @include mobile{
        padding-top: rem(64px);
    }
    @include desktop{
        padding-top: rem(72px);
    }
    &.is-activeEval{
        @include mobile{
            padding-top: rem(225px);
        }
        @include desktop{
            padding-top: rem(180px);
        }
    }
}

// Header
.header {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;

    @include mobile {
        height: rem(64px);
        padding: 0 rem(20px);
        font-size: rem(14px);
    }

    @include desktop {
        height: rem(72px);
        padding: 0 rem(50px);
    }

    &.is-active {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background: $black;
        z-index: 9999;
    }

    &__logo {
        @include mobile {
            margin: 0 rem(10px) 0 0;
        }
        @include desktop {
            margin: 0 rem(22px) 0 0;
        }


        &--link {
            display: block;
            padding: rem(18px) 0;
            outline-offset: -2px;

            @include mobile {
                width: rem(72px);
            }

            @include desktop {
                width: rem(94px);
            }
        }
    }


    // 메뉴 열기 버튼
    &--openButton {
        @include mobile {
            padding: rem(24px) rem(20px) rem(24px) rem(10px);
            border: 0;
            background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDE2IDE2Ij4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTIwNCAtOSkiIGZpbGwtb3BhY2l0eT0iMC44OCI+CiAgICAgICAgPHBhdGggZmlsbD0iI2ZmZmZmZiIgZD0iTTIxMi4xMjEgMTkuMzMxbDMuODE3LTQuMDA0YS4xNjcuMTY3IDAgMCAwLS4xMjEtLjI4MmgtNy42MzNhLjE2Ny4xNjcgMCAwIDAtLjEyLjI4MmwzLjgxNiA0LjAwNGEuMTY3LjE2NyAwIDAgMCAuMjQxIDAiLz4KICAgIDwvZz4KPC9zdmc+Cg==) no-repeat right center;
        }

        @include desktop {
            display: none;
        }
    }

    &__naviWrap.is-active{
        .header__navigation{
            @include mobile{
                display: block;
            }
        }
    }

    // Navigation
    &__navigation {
        @include mobile {
            display: none;
            position: absolute;
            background: #555;
        }

        @include desktop {
            display: flex;
        }

        &--item {
            @include desktop {
                margin: 0 rem(6px);
            }
        }

        &--link {
            display: block;
            transition: all 0.2s;
            outline-offset: -2px;

            @include mobile {
                padding: rem(10px) rem(15px);
            }

            @include desktop {
                padding: rem(27px) rem(4px);
            }

            &:hover {
                opacity: 0.8;
            }
        }
    }

    // 탐색하기 Tab Menu
    @at-root .tabMenu {
        @include mobile {
            &__container {
                display: none;
            }
        }

        @include desktop {
            position: relative;

            &.is-active &__container {
                display: block;
            }

            &__container {
                position: absolute;
                background: rgba($black, 0.9);
                display: none;

                &.is-active {
                    display: block;
                }

                @include desktop {
                    width: rem(515px);
                    top: 100%;
                    left: 0;
                    padding-top: rem(52px);
                }

                &:before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: rem(52px);
                    background: #333;
                }
            }

            &__item.is-active {
                .tabMenu__header {
                    font-weight: 700;

                    &:after {
                        content: '';
                        display: block;
                        width: 100%;
                        height: 1px;
                        background: #fff;
                        margin-top: -1px;
                    }
                }

                .tabMenu__panel {
                    display: flex;
                    padding: rem(10px) rem(5px);
                }
            }

            &__header {
                position: absolute;
                left: 0;
                top: 0;
                padding: 0 rem(16px);
                line-height: 52px;
                background: 0;
                border: 0;
                outline-offset: -3px;

                &--country {
                    transform: translateX(100%);
                }

                &--point {
                    transform: translateX(200%);
                }
            }

            &__panel {
                position: absolute;
                top: 52px;
                left: 0;
                display: none;
                flex-wrap: wrap;
                background: #111;

                &--item {
                    width: 33.334%;
                    font-size: rem(14px);
                }

                &--link {
                    display: block;

                    @include desktop {
                        padding: rem(10px) rem(16px);
                        &:hover {
                            background-color: #555;
                        }
                    }

                }
            }
        }
    }

    // Search Form
    &__searchForm {
        position: relative;
        margin-left: auto;

        &.is-active {
            overflow: visible;

            .header__searchForm--input {
                display: block;
            }

            .header__trending {
                display: block;
            }
        }

        &--button {
            border: 0;
            background: url("data:image/svg+xml,%3Csvg width='16px' height='16px' viewBox='0 0 16 16' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' fill-opacity='0.88'%3E%3Cg transform='translate(1.000000, 1.000000)' fill='%23FFFFFF' fill-rule='nonzero'%3E%3Cpath d='M13.9988333,12.8959444 L12.8959444,13.9988333 L8.72316667,9.82605556 C7.812,10.5081667 6.68461111,10.9172778 5.45883333,10.9172778 C2.44377778,10.9172778 0,8.4735 0,5.45883333 C0,2.44377778 2.44377778,0 5.45883333,0 C8.4735,0 10.9172778,2.44377778 10.9172778,5.45883333 C10.9172778,6.68461111 10.5081667,7.812 9.82605556,8.72316667 L13.9988333,12.8959444 L13.9988333,12.8959444 Z M5.45883333,1.55944444 C3.30516667,1.55944444 1.55944444,3.30516667 1.55944444,5.45883333 C1.55944444,7.61211111 3.30516667,9.35783333 5.45883333,9.35783333 C7.61211111,9.35783333 9.35783333,7.61211111 9.35783333,5.45883333 C9.35783333,3.30516667 7.61211111,1.55944444 5.45883333,1.55944444 L5.45883333,1.55944444 Z' id='Shape'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E") no-repeat 0 56%;
            transition: all 0.2s;

            @include mobile {
                padding: rem(24px) rem(5px) rem(24px) rem(20px);
                margin-right: rem(10px);
            }

            @include desktop {
                padding: rem(27px) rem(5px) rem(27px) rem(22px);
                margin-right: rem(20px);
            }

            &:hover {
                opacity: 0.8;
            }
        }

        &--input {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            background: url("data:image/svg+xml,%3Csvg width='16px' height='16px' viewBox='0 0 16 16' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg transform='translate(1.000000, 1.000000)' fill='%23121212' fill-rule='nonzero'%3E%3Cpath d='M13.9988333,12.8959444 L12.8959444,13.9988333 L8.72316667,9.82605556 C7.812,10.5081667 6.68461111,10.9172778 5.45883333,10.9172778 C2.44377778,10.9172778 0,8.4735 0,5.45883333 C0,2.44377778 2.44377778,0 5.45883333,0 C8.4735,0 10.9172778,2.44377778 10.9172778,5.45883333 C10.9172778,6.68461111 10.5081667,7.812 9.82605556,8.72316667 L13.9988333,12.8959444 L13.9988333,12.8959444 Z M5.45883333,1.55944444 C3.30516667,1.55944444 1.55944444,3.30516667 1.55944444,5.45883333 C1.55944444,7.61211111 3.30516667,9.35783333 5.45883333,9.35783333 C7.61211111,9.35783333 9.35783333,7.61211111 9.35783333,5.45883333 C9.35783333,3.30516667 7.61211111,1.55944444 5.45883333,1.55944444 L5.45883333,1.55944444 Z' id='Shape'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E") no-repeat 3% 50%;
            background-color: $white;
            border-radius: 4px;
            display: none;

            @include mobile {
                right: rem(10px);
                width: rem(180px);
            }

            @include desktop {
                right: rem(20px);
                width: rem(215px);
            }

            input {
                width: 100%;
                border: 0;
                background: transparent;

                @include mobile {
                    padding: rem(6px) rem(30px);
                    font-size: rem(12px);
                }

                @include desktop {
                    padding: rem(6px) rem(30px);
                    font-size: rem(14px);
                }
            }
        }
    }

    // 인기검색어
    &__trending {
        position: absolute;
        top: 100%;
        padding: rem(10px) 0;
        background: #333;
        display: none;

        @include mobile {
            right: rem(10px);
            font-size: rem(12px);
            width: rem(180px);
        }

        @include desktop {
            right: rem(20px);
            font-size: rem(14px);
            width: rem(215px);
        }

        &--Title {
            margin-bottom: rem(5px);
            padding: rem(5px) rem(10px);
            color: $primary;
            font-weight: 500;
        }

        &--link {
            display: block;
            padding: rem(5px) rem(10px);

            &:hover {
                background: #555;
            }
        }
    }

    // User Config
    &__userConfig {
        position: relative;

        &.is-active {
            .header__userConfig--list {
                display: block;
            }
        }

        &--user {
            @include mobile {
                padding: rem(24px) rem(24px);
                text-indent: -9999px;
            }

            @include desktop {
                padding: rem(27px) rem(20px) rem(27px) rem(32px);
            }
            border: 0;
            background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDE2IDE2Ij4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTIwNCAtOSkiIGZpbGwtb3BhY2l0eT0iMC44OCI+CiAgICAgICAgPHBhdGggZmlsbD0iI2ZmZmZmZiIgZD0iTTIxMi4xMjEgMTkuMzMxbDMuODE3LTQuMDA0YS4xNjcuMTY3IDAgMCAwLS4xMjEtLjI4MmgtNy42MzNhLjE2Ny4xNjcgMCAwIDAtLjEyLjI4MmwzLjgxNiA0LjAwNGEuMTY3LjE2NyAwIDAgMCAuMjQxIDAiLz4KICAgIDwvZz4KPC9zdmc+Cg==) no-repeat right center;

            &:before {
                content: '';
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                width: 24px;
                height: 24px;
                border-radius: 50%;
                background-image: url("../images/common/icon-profile.jpg");
                background-repeat: no-repeat;
                background-position: 0 50%;
                background-size: auto 100%;
            }
        }

        &--list {
            position: absolute;
            top: 100%;
            right: 0;
            width: rem(200px);
            background: #333;
            font-size: rem(14px);
            display: none;

            &.is-active {
                display: block;
            }

            a {
                display: block;
                padding: rem(8px) rem(10px);

                &:hover {
                    background: #555;
                }
            }
        }

        &--profile,
        &--edit,
        &--watched,
        &--others {
            padding: rem(5px) 0;
        }


        .profile-icon {
            position: relative;
            padding-left: rem(38x);

            i {
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                width: 24px;
                height: 24px;
                margin-left: 5px;
                background-image: url("../images/common/icon-profile.jpg");
                background-repeat: no-repeat;
                background-size: auto 100%;
                border-radius: 50%;

                &.icon-kids {
                    background-position: -96px;
                }

                &.icon-custom {
                    background-position: -48px;
                }
            }

        }

        &--edit {
            border-top: 1px solid #999;
        }

        &--watched {
            border-top: 1px solid #999;
            border-bottom: 1px solid #999;
        }
    }
}